.section {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  display: block;
  width: max-content;
  margin: 0 auto;
  border-bottom: 2px solid #5210cd;
  font-weight: bold;
}
